doctype html
html(lang="en")
    include components/head.pug
    body
        include components/sections/header.pug
        main
            include components/sections/about.pug
            include components/sections/services.pug
            include components/sections/testimonials.pug
            include components/sections/projects.pug
        include components/sections/footer.pug
        include components/scripts.pug