// About Section
section#about
  article.about--article
    .about_article1--textContainer
      h2.about_article_textContainer--title Transform your brand
      p.about_article_textContainer--parraf
        | We are a full-service creative agency specializing in helping brands grow fast.
        | Engage your clients through compelling visuals that do most of the marketing for you.
      a.learnMore(href='#') Learn more
    figure.about--article--egg
  article.about--article
    figure.about--article--lamp
    .about_article1--textContainer
      h2.about_article_textContainer--title Stand out to the right audience
      p.about_article_textContainer--parraf
        | Using a collaborative formula of designers, researchers, photographers, videographers, and copywriters,
        | we’ll build and extend your brand in digital places.
      a.learnMore--red(href='#') Learn more