// Footer
footer
    a(href="#header")
        img.logoFooter(src='./assets/images/logo.svg' alt='logo sunnyside')
    article.footer--nav
        ul
            li
                a(href='#about') About
            li
                a(href='#services') Services
            li
                a(href='#projects') Projects
    article#social-contact
        a.social-contact--link(href='www.facebook.com')
            img.social-contact_link--image(src='./assets/images/icon-facebook.svg' alt='facebook' title="ir a facebook")
        a.social-contact--link(href='www.instagram.com')
            img.social-contact_link--image(src='./assets/images/icon-instagram.svg' alt='instagram' title="ir a instagram")
        a.social-contact--link(href='www.twitter.com')
            img.social-contact_link--image(src='./assets/images/icon-twitter.svg' alt='twitter' title="ir a twitter")
        a.social-contact--link(href='www.pinterest.com')
            img.social-contact_link--image(src='./assets/images/icon-pinterest.svg' alt='pinterest' title="ir a pinterest")