// Footer
footer#contact
    a(href="#header")
        img.logoFooter(src='./assets/images/logo.svg' alt='logo sunnyside')
    article.footer--nav
        ul
            li
                a(href='#about') About
            li
                a(href='#services') Services
            li
                a(href='#projects') Projects
    article#social-contact
        a.social-contact--link(href='www.facebook.com' title="ir a facebook")
            span.iconify.social-contact_link--image(data-icon="fe:facebook")
        a.social-contact--link(href='www.instagram.com' title="ir a instagram")
            span.iconify.social-contact_link--image(data-icon="ant-design:instagram-outlined")
        a.social-contact--link(href='www.twitter.com' title="ir a twitter")
            span.iconify.social-contact_link--image(data-icon="akar-icons:twitter-fill")
        a.social-contact--link(href='www.pinterest.com' title="ir a pinterest")
            span.iconify.social-contact_link--image(data-icon="bi:pinterest")