header
    nav
        figure.header_nav--logoContainer
            img(src='./assets/images/logo.svg' alt='sunnyside logo')
        figure#buttonBurguer.burguer
            img(src='./assets/images/icon-hamburger.svg' alt='burguer')
        #menu.header_nav--listContainer
            ul.elementsListContainer
                li
                    a.header_nav_listContainer--elements(href='#about') About
                li
                    a.header_nav_listContainer--elements(href='#services') Services
                li
                    a.header_nav_listContainer--elements(href='#projects') Projects
                li
                    a#link-contact.header_nav_listContainer--elements(href='#contact') CONTACT
    .header--titleContainer
        h1.header_titleContainer--title We are creatives
    img.header--imgArrow(src='./assets/images/icon-arrow-down.svg' alt='ir a la siguiente seccion')