header#header
    nav
        figure.header_nav--logoContainer
        a#buttonBurguer.burguer
        #menu.header_nav--listContainer
            ol.elementsListContainer
                li
                    a.header_nav_listContainer--elements(href='#about') About
                li
                    a.header_nav_listContainer--elements(href='#services') Services
                li
                    a.header_nav_listContainer--elements(href='#projects') Projects
                li
                    a#link-contact.header_nav_listContainer--elements(href='#contact') CONTACT
    .header--titleContainer
        h1.header_titleContainer--title We are creatives
    a(href="#about" title="ir a la siguiente seccion")
        span.iconify.header--imgArrow(data-icon="bi:arrow-down")