// Section Projects
section#projects.slideshow(data-pagination='false')
    ul.carousel
        li.slide
            a(href="#" title="proyecto 1")
        li.slide
            a(href="#" title="proyecto 2")
        li.slide
            a(href="#" title="proyecto 3")
        li.slide
            a(href="#" title="proyecto 4")
        li.slide
            a(href="#" title="proyecto 5")
        li.slide
            a(href="#" title="proyecto 6")
        li.slide
            a(href="#" title="proyecto 7")