// Section Projects
section#projects.slideshow(data-pagination='false')
    ul.carousel
        li.slide
            a(href="#projecto1" title="proyecto 1")
        li.slide
            a(href="#projecto2" title="proyecto 2")
        li.slide
            a(href="#projecto3" title="proyecto 3")
        li.slide
            a(href="#projecto4" title="proyecto 4")
        li.slide
            a(href="#projecto5" title="proyecto 5")
        li.slide
            a(href="#projecto6" title="proyecto 6")
        li.slide
            a(href="#projecto7" title="proyecto 7")