// Section Projects
section#projects.slideshow(data-pagination='false')
  ul.carousel
    li.slide
      img(src='./assets/images/desktop/image-gallery-milkbottles.jpg' alt='milk bottles')
    li.slide
      img(src='./assets/images/desktop/image-gallery-orange.jpg' alt='orange')
    li.slide
      img(src='./assets/images/desktop/image-gallery-cone.jpg' alt='cone')
    li.slide
      img(src='./assets/images/desktop/image-gallery-sugarcubes.jpg' alt='sugar cubes')
    li.slide
      img(src='./assets/images/desktop/image-gallery-milkbottles.jpg' alt='milk bottles')
    li.slide
      img(src='./assets/images/desktop/image-gallery-orange.jpg' alt='orange')
    li.slide
      img(src='./assets/images/desktop/image-gallery-cone.jpg' alt='cone')
    li.slide
      img(src='./assets/images/desktop/image-gallery-sugarcubes.jpg' alt='sugar cubes')