// Section Projects
section#projects.slideshow(data-pagination='false')
    ul.carousel
        li.slide
            a(href="#projecto1")
                img(src='./assets/images/desktop/image-gallery-milkbottles.jpg' alt='')
        li.slide
            a(href="#projecto2")
                img(src='./assets/images/desktop/image-gallery-orange.jpg' alt='')
        li.slide
            a(href="#projecto3")
                img(src='./assets/images/desktop/image-gallery-cone.jpg' alt='')
        li.slide
            a(href="#projecto4")
                img(src='./assets/images/desktop/image-gallery-sugarcubes.jpg' alt='')
        li.slide
            a(href="#projecto5")
                img(src='./assets/images/desktop/image-gallery-milkbottles.jpg' alt='')
        li.slide
            a(href="#projecto6")
                img(src='./assets/images/desktop/image-gallery-orange.jpg' alt='')
        li.slide
            a(href="#projecto7")
                img(src='./assets/images/desktop/image-gallery-cone.jpg' alt='')
        li.slide
            a(href="#projecto8")
                img(src='./assets/images/desktop/image-gallery-sugarcubes.jpg' alt='')