// Section Projects
section#projects.slideshow(data-pagination='false')
    ul.carousel
        li.slide
            a(href="#projecto1")
                img(src='./assets/images/desktop/image-gallery-milkbottles.jpg' alt='proyecto 1')
        li.slide
            a(href="#projecto2")
                img(src='./assets/images/desktop/image-gallery-orange.jpg' alt='proyecto 2')
        li.slide
            a(href="#projecto3")
                img(src='./assets/images/desktop/image-gallery-cone.jpg' alt='proyecto 3')
        li.slide
            a(href="#projecto4")
                img(src='./assets/images/desktop/image-gallery-sugarcubes.jpg' alt='proyecto 4')
        li.slide
            a(href="#projecto5")
                img(src='./assets/images/desktop/image-gallery-milkbottles.jpg' alt='proyecto 5')
        li.slide
            a(href="#projecto6")
                img(src='./assets/images/desktop/image-gallery-orange.jpg' alt='proyecto 6')
        li.slide
            a(href="#projecto7")
                img(src='./assets/images/desktop/image-gallery-cone.jpg' alt='proyecto 7')
        li.slide
            a(href="#projecto8")
                img(src='./assets/images/desktop/image-gallery-sugarcubes.jpg' alt='proyecto 8')