// Services Section
section#services
  article.services--graphic
      h3.services_graphic--title Graphic design
      p.services_graphic--parraf
        | Great design makes you memorable. We deliver artwork that underscores your
        | brand message and captures potential clients’ attention.
  article.services--photography
      h3.services_photography--title Photography
      p.services_photography--parraf
        | Increase your credibility by getting the most stunning, high-quality photos that improve your business image.