// Testimonials Section
section#testimonials
    h4.testimonials--title Client testimonials
    section.testimonials--cardsContainer
        article.testimonials--card
            figure.testimonials_card--image
            p.testimonials_card--about
                | We put our trust in Sunnyside and they delivered,
                | making sure our needs were met and deadlines were always hit.
            h5.testimonials_card--name Emily R.
            p.testimonials_card--profesion Marketing Director
        article.testimonials--card
            figure.testimonials_card--image
            p.testimonials_card--about
                | Sunnyside’s enthusiasm coupled with their keen interest in our brand’s
                | success made it a satisfying and enjoyable experience.
            h5.testimonials_card--name Thomas S.
            p.testimonials_card--profesion Chief Operating Officer
        article.testimonials--card
            figure.testimonials_card--image
            p.testimonials_card--about
                | Incredible end result! Our sales increased over 400% when we worked with Sunnyside.
                br
                |  Highly recommended!
            h5.testimonials_card--name Jennie F.
            p.testimonials_card--profesion Business Owner